################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UWPXamlConverters/obj
/UWPXamlConverters/.vs/UWPXamlConverters
/UWPXamlConverters/UWPXamlConverters_TemporaryKey.pfx
/UWPXamlConverters/bin/x86/Debug
